/* mit Werbung @partner-right: 120px;*/
/* static footer */
html,
body {
  height: 100%;
  padding: 0;
}
body {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
header,
footer {
  /*color: white;*/
  /*background-color: black;*/
  clear: left;
  text-align: center;
  white-space: nowrap;
}
.clear {
  clear: both;
}
.header {
  margin: 0;
  color: #333;
  background-color: whitesmoke;
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #eee;
  top: 44px;
  left: 0;
  width: calc(100% -  30px);
  height: 50px;
  position: fixed !important;
  z-index: 800;
}
@media only screen and (min-width: 568px) {
  .header {
    left: 150px;
    width: calc(100% -  200px);
  }
}
.pure-flex-rw {
  display: flex;
  flex-flow: row wrap;
}
#partner {
  float: right;
}
main3 {
  flex: 1 1 auto;
  /*For IE11*/
  display: flex;
  line-height: 1;
}
.content {
  height: 100%;
  /*max-width: 800px;*/
  line-height: 1.6em;
  width: calc(100% -  0px);
  padding: 0;
}
#top {
  top: 0px;
  position: fixed !important;
  z-index: 900;
  /* so the menu or its navicon stays above all content */
  width: 100%;
  background: #1f8dd6;
  font-size: 110%;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  height: 44px;
  display: table-cell;
  vertical-align: middle;
}
footer {
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #373737;
  bottom: 0px;
  position: fixed !important;
  position: absolute;
  height: 25px;
  width: 100%;
}
#info-sync {
  float: left;
  width: 33%;
  display: block;
}
[data-sync-state=syncing] #info-sync {
  background-color: darkorange;
}
[data-sync-state=error] #info-sync {
  background-color: red;
}
#record_show {
  width: 100%;
  padding: 10px 0;
  background-color: lightblue;
  margin-top: 2px;
}
#appTitle {
  float: right;
  padding-top: 0.6em;
  width: calc(100% -  220px);
  white-space: nowrap;
  text-align: left;
}
@media only screen and (min-width: 568px) {
  #appTitle {
    text-align: center;
    width: calc(100% -  326px);
  }
}
.title-button {
  float: right;
  font-size: 200%;
  font-weight: bold;
  /*padding: 0 10px 0 10px;*/
  width: 36px;
  height: 36px;
  display: block;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
div.container {
  width: 100%;
  border: 1px solid gray;
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}
.headerR {
  float: right;
}
#todoapp {
  width: 100%;
}
#page2 {
  display: none;
}
#pageAGB,
#pageDS,
#pageAbout,
#pageContact {
  padding: 64px 20px 35px 20px;
  display: none;
}
#singledata {
  /*    position: fixed; top: 6em; left: 0px; */
  width: 100%;
  /*max-width: 34em;*/
  float: left;
  margin: 0;
  padding: 44px 0 25px 0;
}
#bc_search {
  width: calc(100% -  150px);
  float: left;
}
#appScan {
  float: left;
}
#datalist {
  /*margin-left: 34em;
    border-left: 1px solid gray;*/
  padding: 94px 0 25px 0;
  overflow: auto;
}
#datalistScroll {
  width: 100%;
}
#f_ooter {
  width: 50%;
  color: #777;
  padding: 0 15px;
  position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  height: 50px;
  z-index: 1;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/*
tr:nth-child(even) {
    background-color: #dddddd;
}
*/
form div {
  border: none;
}
fieldset {
  width: 100%;
  padding: 1em;
  background: #efefef;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* Webkit */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(lightgray));
  /* Firefox */
  background: -moz-linear-gradient(top, white, lightgray);
  /* Internet Explorer < 8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#EFEFEF);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#EFEFEF)";
}
legend {
  background: white;
  padding: 0.6em;
  border: 1px solid lightgray;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
label {
  width: 6em;
  display: inline-block;
  text-align: right;
}
div > label:first-child {
  width: 8em;
  text-align: left;
  padding-top: 0.3em;
  vertical-align: top;
}
input,
select,
textarea {
  width: 90%;
  padding: 0.3em;
  border: 1px solid lightgray;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@media only screen and (min-width: 568px) {
  input,
  select,
  textarea {
    width: calc(100% -  12em);
  }
}
input:hover,
select:hover,
textarea:hover {
  background: #ffc;
  border: 1px solid #555;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input:focus,
select:focus,
textarea:focus {
  border: 1px solid lightgray;
  -webkit-box-shadow: 0 0 10px rgba(32, 204, 255, 0.7);
  -moz-box-shadow: 0 0 10px rgba(32, 204, 255, 0.7);
  box-shadow: 0 0 10px rgba(32, 204, 255, 0.7);
  outline: none;
}
input#strasse {
  width: 18em;
}
input#ort {
  width: 17em;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
  /* IE */
}
@media only screen and (max-width: 567px) {
  .pure-form input:not([type]),
  .pure-form input[type=password],
  .pure-form input[type=email],
  .pure-form input[type=url],
  .pure-form input[type=date],
  .pure-form input[type=month],
  .pure-form input[type=time],
  .pure-form input[type=datetime],
  .pure-form input[type=datetime-local],
  .pure-form input[type=week],
  .pure-form input[type=tel],
  .pure-form input[type=color],
  .pure-form input[type=number],
  .pure-form input[type=search],
  .pure-form input[type=text],
  .pure-form label {
    margin-bottom: 0.3em;
    display: inline-block;
  }
}
.deleteicon {
  position: relative;
}
.deleteicon span {
  position: absolute;
  display: block;
  top: 10px;
  right: calc(20px);
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.deleteicon input {
  padding-right: 16px;
  width: calc(100% -  16px);
  box-sizing: border-box;
}
#appSearch {
  padding-right: 16px;
  width: calc(100% -  16px);
  box-sizing: border-box;
}
.form_short {
  width: 10em;
}
.form_4 {
  width: 4em;
}
.form_5 {
  width: 5em;
}
.form_check label {
  display: inline;
}
label[for^="news"] {
  display: inline;
}
.form_check input {
  margin-left: 7em;
}
input#news_ja,
input#news_nein {
  margin-left: 7em;
}
input[type="button"] {
  width: 24%;
}
input[type="submit"],
input[type="reset"] {
  width: 10em;
  padding: 0.6em;
  background: #fafafa;
  border: 1px solid #aaa;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* Webkit */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #fafafa), color-stop(1, #cccccc));
  /* Firefox */
  background-image: -moz-linear-gradient(top, #fafafa 10%, #cccccc 100%);
  -webkit-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
input[type="submit"] {
  margin-left: 10em;
  margin-right: 0.2em;
  font-weight: bold;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  border-color: #3a3;
  color: #3a3;
}
input[type="reset"]:hover,
input[type="reset"]:focus {
  border-color: #f55;
  color: #f55;
}
input[type="submit"]:active,
input[type="reset"]:active {
  /* Webkit */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #fafafa), color-stop(1, #cccccc));
  /* Firefox */
  background-image: -moz-linear-gradient(bottom, #fafafa 10%, #cccccc 100%);
}
/* 
fieldset{  width: 31em;
           margin: auto;}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('bg.png');
  color: #4d4d4d;
  width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#todoapp {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 130px 0 40px 0;
  border: 1px solid #ccc;
  position: relative;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
                                0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

#todoapp:before {
  content: '';
  border-left: 1px solid #f5d6d6;
  border-right: 1px solid #f5d6d6;
  width: 2px;
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
}

#todoapp input::-webkit-input-placeholder {
  font-style: italic;
}

#todoapp input:-moz-placeholder {
  font-style: italic;
  color: #a9a9a9;
}

#todoapp h1 {
  position: absolute;
  top: -120px;
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

#header {
  padding-top: 15px;
  border-radius: inherit;
}

#header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 15px;
  z-index: 2;
  border-bottom: 1px solid #6c615c;
  background: #8d7d77;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(132, 110, 100, 0.8)),to(rgba(101, 84, 76, 0.8)));
  background: -webkit-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -moz-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -o-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: -ms-linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  background: linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9d8b83', EndColorStr='#847670');
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

#new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#new-todo {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  z-index: 2;
  box-shadow: none;
}

#main2 {
  position: relative;
  z-index: 2;
  border-top: 1px dotted #adadad;
}

label[for='toggle-all'] {
  display: none;
}

#toggle-all {
  position: absolute;
  top: -42px;
  left: -4px;
  width: 40px;
  text-align: center;
  border: none; 
}

#toggle-all:before {
  content: '»';
  font-size: 28px;
  color: #d9d9d9;
  padding: 0 25px 7px;
}

#toggle-all:checked:before {
  color: #737373;
}

#todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px dotted #ccc;
}

#todo-list li:last-child {
  border-bottom: none;
}

#todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

#todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

#todo-list li.editing .view {
  display: none;
}

#todo-list li .toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; 
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#todo-list li .toggle:after {
  content: '✔';
  line-height: 43px; 
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}

#todo-list li label {
  word-break: break-word;
  padding: 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

#todo-list li.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}

#todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 22px;
  color: #a88a8a;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

#todo-list li .destroy:hover {
  text-shadow: 0 0 1px #000, 0 0 10px rgba(199, 107, 107, 0.8);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}

#todo-list li .destroy:after {
  content: '✖';
}

#todo-list li:hover .destroy {
  display: block;
}

#todo-list li .edit {
  display: none;
}

#todo-list li.editing:last-child {
  margin-bottom: -1px;
}

#footer {
  color: #777;
  padding: 0 15px;
  position: absolute;
  right: 0;
  bottom: -31px;
  left: 0;
  height: 20px;
  z-index: 1;
}

#footer:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 31px;
  left: 0;
  height: 50px;
  z-index: -1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    0 6px 0 -3px rgba(255, 255, 255, 0.8),
    0 7px 1px -3px rgba(0, 0, 0, 0.3),
    0 43px 0 -6px rgba(255, 255, 255, 0.8),
    0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

#todo-count {
  float: left;
  text-align: left;
}

#filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

#filters li {
  display: inline;
}

#filters li a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
}

#filters li a.selected {
  font-weight: bold;
}

#clear-completed {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

#info {
  margin: 65px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}

#info a {
  color: inherit;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #toggle-all,
  #todo-list li .toggle {
    background: none;
  }

  #todo-list li .toggle {
    height: 40px;
  }

  #toggle-all {
    top: -56px;
    left: -15px;
    width: 65px;
    height: 41px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
  border: 0.25rem solid rgba(50, 50, 50, 0.2);
  border-top-color: #323232;
  animation: spin 1s infinite linear;
}
#loading--double {
  border-style: double;
  border-width: .5rem;
}
.hidden {
  /*    display:none;*/
}
.t_seite {
  display: none;
}
#myTableList {
  table-layout: fixed;
}
#myTableList tbody tr td {
  padding: 1px;
}
.books-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  float: left;
  width: calc(100% -  81px);
}
@media only screen and (min-width: 568px) {
  .books-title {
    width: calc(100% -  89px);
  }
}
.books-favor {
  width: 24px;
  float: right;
  font-size: 24px;
}
@media only screen and (min-width: 568px) {
  .books-favor {
    width: 32px;
    font-size: 32px;
  }
}
.books-author100 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% -  57px);
}
.books-author {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(50% -  28.5px);
  float: left;
}
.books-series {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(50% -  28.5px);
  float: left;
}
.books-date {
  width: 120px;
  /*background-color: #D00000;*/
  float: left;
}
.books-memo {
  width: calc(100% -  57px);
}
.books-image {
  width: auto;
  height: 80px;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
}
.books-img {
  width: 52px;
  margin-right: 5px;
  text-indent: -50%;
  overflow: hidden;
  float: left;
}
.books-state {
  width: 120px;
  float: left;
}
#book-image {
  width: 8em;
  height: auto;
  display: block;
  /*for the img inside your div */
  margin: 0 auto;
  float: left;
}
#book-favor {
  width: 32px;
  float: right;
  font-size: 40px;
}
/* https://codepen.io/SitePoint/pen/hewAv 
   schönes Scrollverhalten bei horizontalem Menü und sticky header*/
/*https://purecss.io/layouts/side-menu/# */
/* side-menu.css */
body {
  color: #777;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
  padding-bottom: 25px;
  height: 100%;
  width: calc(100% -  0px);
}
@media only screen and (min-width: 568px) {
  #layout {
    padding-left: 150px;
    /* left col width "#menu" */
    width: calc(100% -  150px);
  }
}
/* Only apply this when the window is small. Otherwise, the following case results in extra padding on the left:
    * Make the window small.
    * Tap the menu to trigger the active state.
    * Make the window large again.
*/
@media only screen and (max-width: 567px) {
  #layout.active {
    position: relative;
    left: 150px;
  }
}
#layout.active #menu {
  left: 150px;
  width: 150px;
}
#layout.active .menu-link {
  left: 150px;
}
/*
The content `<div>` is where all your content goes.
*/
.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}
/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
#menu {
  margin-left: -150px;
  /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 950;
  /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 568px) {
  #menu {
    left: 150px;
  }
}
.right {
  float: right;
  width: 88px;
}
/*
All anchors inside the menu should be styled like this.
*/
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}
/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}
/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}
/*
Change color of the anchor links on hover/focus.
#menu*/
.pure-menu li a:hover,
.pure-menu li a:focus {
  background: #333;
}
/*
This styles the selected menu item `<li>`.
#menu*/
.pure-menu-selected,
.pure-menu-heading {
  background: #1f8dd6;
}
/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-item {
  height: 44px;
}
.pure-menu-selected a {
  color: #fff;
}
/*
This styles the menu heading.
*/
.pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
}
.pure-menu-horizontal .pure-menu-children {
  left: -146px;
  width: 190px;
}
/* -- Dynamic Button For Responsive Menu -------------------------------------*/
/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/
/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  position: fixed;
  display: block;
  /* show this only on small screens */
  top: 0;
  left: 0;
  /* "#menu width" */
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  /* change this value to increase/decrease button size */
  z-index: 1000;
  height: 44px;
  width: 16px;
  height: 8px;
  padding: 18px 14px;
}
@media only screen and (min-width: 568px) {
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }
}
.menu-link:hover,
.menu-link:focus {
  background: #000;
}
.menu-link span {
  position: relative;
  display: block;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}
.menu-link span:before,
.menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}
.menu-link span:after {
  margin-top: 0.6em;
}
.pure-menu-active > .pure-menu-link,
.pure-menu-link:focus,
.pure-menu-link:hover {
  background-color: transparent;
}
.pure-menu-disabled,
.pure-menu-heading,
.pure-menu-link {
  padding: 0;
}
/************ rechte Sortierleiste ***********/
#mySearchAZ {
  background: #c8c8c8;
  top: 44px;
  right: 0;
  bottom: 25px;
  z-index: 800;
  /* so the menu or its navicon stays above all content */
  position: fixed !important;
  position: absolute;
  width: 30px;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}
@media only screen and (min-width: 568px) {
  #mySearchAZ {
    right: 0px;
    width: 50px;
  }
}
.relative {
  position: relative;
}
.myTableAnchor {
  position: absolute;
  top: -94px;
}
.searchlist {
  text-align: center;
  flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  height: 0.5em;
}
.searchlink {
  text-align: center;
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 0.7em;
}
.searchlink:hover,
.searchlink:focus {
  /* background: #000;*/
}
#main1 {
  width: 100%;
}
/* -- Responsive Styles (Media Queries) ------------------------------------- */
#page1 {
  margin-left: 10px;
  width: calc(100% -  40px);
  padding-right: 30px;
}
@media only screen and (min-width: 568px) {
  #page1 {
    width: calc(100% -  60px);
  }
}
#page2 {
  margin-left: 10px;
  width: calc(100% -  10px);
}
/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 600px) {
  .header,
  .content {
    /*padding-left: 2em;*/
    /*padding-right: 2em;*/
  }
  footer {
    /*padding: 2px 40px 2px 40px;*/
  }
  #page1 {
    padding-right: 30px;
  }
}
@media (max-width: 599px) {
  #xxmain {
    margin-left: 8px;
    width: calc(100% -  20px);
  }
  footer {
    /* padding: 2px; */
  }
}
/*******************************************************/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}
.inactive {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
  background-color: #2980B9;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0px;
  top: 44px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
