#mSettings {
    background: url(../img/svg/solid/cog-white.svg) ;
}
#appRefresh {
    background: url(../img/svg/solid/sync.svg); /*no-repeat*/
}
#appReturn {
    background: url(../img/svg/solid/arrow-alt-circle-left.svg);
}
#appScan {
    background: url(../img/svg/solid/barcode.svg);
}
.fas {
    display: inline-block;
    width: 10px;
    height: 15px;
}
.fa-sort {
    background: url(../img/svg/solid/sort.svg) no-repeat;
}
.fa-sort-up {
    background: url(../img/svg/solid/sort-up.svg) no-repeat;
}
.fa-sort-down {
    background: url(../img/svg/solid/sort-down.svg) no-repeat;
}
.deleteicon span {
        background: url(../img/svg/solid/times-circle-gray.svg);
}

