#appSettings {
    background: url(../img/svg/solid/cog-white.svg) ;
}
#appRefresh {
    background: url(../img/svg/solid/sync.svg); /*no-repeat*/
}
#appReturn {
    background: url(../img/svg/solid/arrow-alt-circle-left.svg);
}
#appScan {
    background: url(../img/svg/solid/barcode.svg);
}
span.deleteicon {
    position: relative;
}

    span.deleteicon span {
        position: absolute;
        display: block;
        top: 2px;
        right: 4px;
        width: 16px;
        height: 16px;
        background: url(../img/svg/solid/times-circle-gray.svg);
        cursor: pointer;
    }

    span.deleteicon input {
        padding-right: 16px;
        box-sizing: border-box;
    }
