#appRefresh {
    mask: url(../img/svg/solid/cog.svg) no-repeat;
    /*mask-size: cover;*/
    -webkit-mask: url(../img/svg/solid/cog.svg) no-repeat;
    /*-webkit-mask-size: cover;*/
    background-color: white;
    /* background-size: 30px 30px; */
}
#appSettings {
    mask: url(../img/svg/solid/sync.svg) no-repeat;
    /*mask-size: cover;*/
    -webkit-mask: url(../img/svg/solid/sync.svg) no-repeat;
    /*-webkit-mask-size: cover;*/
    background-color: white;
    /* background-size: 30px 30px; */
}
#appReturn {
    mask: url(../img/svg/solid/arrow-alt-circle-left.svg) no-repeat;
    /*mask-size: cover;*/
    -webkit-mask: url(../img/svg/solid/arrow-alt-circle-left.svg) no-repeat;
    /*-webkit-mask-size: cover;*/
    background-color: white;
    /* background-size: 30px 30px; */
}
